---
import Layout from '@layouts/Layout.astro'
import { getCollection } from 'astro:content'

// Iconos
import Twitter from '@components/Twitter.astro'
import Facebook from '@components/Facebook.astro'
import Whatsapp from '@components/Whatsapp.astro'
import Instagram from '@components/Instagram.astro'
import Email from '@components/Email.astro'

const people = await getCollection('people')
---

<Layout title='Lawyer'>
  <header class='bg-custom p-3 sticky top-0 left-0 w-full flex justify-between border-b-2 border-b-red-500'>
    <span class='text-white'>KPC Solution LLC.</span>
    <div class='flex gap-x-4 text-white text-2xl'>
      <Whatsapp />
      <Twitter />
      <Facebook />
      <Instagram />
    </div>
  </header>

  <div></div>

  <main>
    <section class='flex flex-col justify-center items-center sm:justify-end sm:items-end sm:p-6 bg-law-pattern bg-no-repeat bg-cover bg-local h-background'>
      <h1 class='text-center p-4 sm:text-right text-white text-6xl font-bold sm:w-2/4'>
        <span class='text-red-500'>Tú sueñas</span> nosotros lo hacemos
      </h1>
    </section>

    <section class='flex flex-col gap-6 xl:gap-12 bs-slate-200 px-8 py-16'>
      <h2 class='font-extrabold text-5xl text-center xl:text-7xl'>Sobre Nosotros</h2>
      <div class='flex flex-row flex-wrap gap-y-10 sm:gap-5 xl:gap-16 items-start justify-center px-10 xl:px-2'>
        <article class='flex-grow basis-32 flex flex-col gap-3 sm:min-h-80'>
          <h3 class='font-bold text-xl xl:text-4xl pb-1 border-b-2 border-b-red-500 whitespace-nowrap'>¿Quienes somos?<h3/>
          <p class='text-gray-600 xl:text-2xl'>Somos tu guía confiable para hacer crecer tu dinero y convertir tus sueños personales o profesionales en un Plan de Vida Real en cualquier parte del Mundos.</p>
        </article>
        <article class='flex-grow basis-32 flex flex-col gap-3 sm:min-h-80'>
          <h3 class='font-bold text-xl xl:text-4xl pb-1 border-b-2 border-b-red-500'>Visión</h3>
          <p class='text-gray-600 xl:text-2xl'>Ser la consultora preferida por nuestros clientes, destacándonos por nuestra innovación, adaptación a las nuevas tecnologías y nuestro compromiso en desarrollar empresas y profesionales preparados para enfrentar los nuevos desafíos.</p>
        </article>
        <article class='flex-grow basis-32 flex flex-col gap-3 sm:min-h-80'>
          <h3 class='font-bold text-xl xl:text-4xl pb-1 border-b-2 border-b-red-500'>Misión</h3>
          <p class='text-gray-600 xl:text-2xl'>Ayudar a nuestros clientes a alcanzar sus metas personales, profesionales y empresariales con soluciones de consultoría innovadoras y personalizadas, optimizando procesos para maximizar resultados y beneficios.</p>
        </article>
        <article class='flex-grow basis-32 flex flex-col gap-3 sm:min-h-80'>
          <h3 class='font-bold text-xl xl:text-4xl pb-1 border-b-2 border-b-red-500'>Valores</h3>
          <p class='text-gray-600 xl:text-2xl'>Excelencia, Compromiso, Innovación, Profesionalismo, Creatividad, Dedicación, Respeto.</p>
        </article>
      </div>
    </section>

    <section class='flex flex-col p-10 gap-y-5 items-center justify-center bg-custom'>
      <h2 class='text-white font-extrabold text-center text-5xl sm:text-7xl'>Nuestras Líderes</h2>
      <div class='p-2 sm:p-8 flex gap-10 flex-col sm:flex-row items-center sm:items-start justify-center w-full xl:gap-20'>
        {
          people.map(element => {
            const { data } = element
            const { name, slogan, image } = data
          
            return (
              <article class='flex flex-col gap-3 min-h-96 max-w-72 items-center'>
                <img src=`/${image}.jpg` alt={name} class='rounded-md aspect-square min-h-64 min-w-72  h-64 w-72 object-cover' />
                <h4 class='text-white text-xl text-center font-bold'>{name}</h4>
                <p class='text-white text-center'>
                  <img src='/open.png' class='inline w-4 h-4' />
                  {slogan}
                  <img src='/close.png' class='inline w-4 h-4' />
                </p>
              </article>
            )
          })
        }
      </div>
    </section>
  </main>

  <footer class='bg-white p-6 text-custom flex flex-col gap-4'>
    <div class='flex flex-col sm:flex-row justify-center gap-5'>
      <h4 class='font-extrabold text-2xl text-center'>Contactanos</h4>
      <span class='flex flex-row items-center justify-center gap-1 text-xl'>
        <span class='text-red-500'><Whatsapp /></span>
        +584120000000
      </span>
      <span class='flex flex-row items-center justify-center gap-1 text-xl'>
        <span class='text-red-500'><Email /></span>
        comunicaciones@teamkpc.com
      </span>
    </div>
    <div class='flex flex-col sm:flex-row items-center justify-center gap-x-12 gap-y-3 flex-wrap'>
      <a href="" class='hover:text-cyan-500 text-sm text-center transition-all'>Política de Privacidad</a>
      <a href="" class='hover:text-cyan-500 text-sm text-center transition-all'>Términos de uso</a>
      <a href="" class='hover:text-cyan-500 text-sm text-center transition-all'>Oportunidades laborales</a>
      <a href="" class='hover:text-cyan-500 text-sm text-center transition-all'>Anuncios basados en intereses</a>
    </div>
    <div class='p-4'>
      <span class='text-center block text-sm'>© 2024 KPC Solution LLC. Todos los derechos Reservados</span>
    </div>
  </footer>
</Layout>

<style>
  .h-background {
    height: 512px;
  }
</style>
